<div th:fragment="content">
  <h2>公告管理</h2>

  <form id="anno-form">
    <input type="hidden" id="ann-id">
    <input type="text" id="title" placeholder="標題" required /><br><br>
    <textarea id="content" placeholder="內容" required></textarea><br>

    <div id="form-buttons" style="display: flex; gap: 10px;">
      <button type="submit" id="anno-submit-btn">新增公告</button>
      <button type="button" id="cancel-edit-btn" style="display:none;">取消編輯</button>
      <button type="button" id="delete-edit-btn" style="display:none;">刪除公告</button>
    </div>
  </form>

  <hr>

  <div id="anno-list"></div>
</div>